# Crypto Markets Data Analysis

Analyzing data of crypto markets data
- Data Cleaning
- Data Filtering
- Finding the insights of dataset
- Set Hypothesis based on the dataset
- Presenting the data as per the finding the answer of the hypothesis

In [33]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [34]:
df_cr = pd.read_csv("crypto-markets.csv")

In [35]:
df_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942297 entries, 0 to 942296
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   slug         942297 non-null  object
 1   symbol       942297 non-null  object
 2   name         942297 non-null  object
 3   date         942297 non-null  object
 4   ranknow      942297 non-null  int64
 5   open         942297 non-null  float64
 6   high         942297 non-null  float64
 7   low          942297 non-null  float64
 8   close        942297 non-null  float64
 9   volume       942297 non-null  float64
 10  market       942297 non-null  float64
 11  close_ratio  942297 non-null  float64
 12  spread       942297 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 93.5+ MB

In [36]:
df_cr.describe().T

,count,mean,std,min,25%,50%,75%,max
ranknow,942297.0,1.000171e+03,5.875753e+02,1.000000e+00,465.000000,1072.000000,1.484000e+03,2.072000e+03
open,942297.0,3.483522e+02,1.318436e+04,2.500000e-09,0.002321,0.023983,2.268600e-01,2.298390e+06
high,942297.0,4.085930e+02,1.616386e+04,3.200000e-09,0.002628,0.026802,2.508940e-01,2.926100e+06
low,942297.0,2.962526e+02,1.092931e+04,2.500000e-10,0.002044,0.021437,2.043910e-01,2.030590e+06
close,942297.0,3.461018e+02,1.309822e+04,2.000000e-10,0.002314,0.023892,2.259340e-01,2.300740e+06
volume,942297.0,8.720383e+06,1.839802e+08,0.000000e+00,175.000000,4278.000000,1.190900e+05,2.384090e+10
market,942297.0,1.725060e+08,3.575590e+09,0.000000e+00,29581.000000,522796.000000,6.874647e+06,3.265025e+11
close_ratio,942297.0,4.594995e-01,3.261605e-01,-1.000000e+00,0.162900,0.432400,7.458000e-01,1.000000e+00
spread,942297.0,1.123400e+02,6.783713e+03,0.000000e+00,0.000000,0.000000,3.000000e-02,1.770563e+06

In [37]:
df_cr.columns

Index(['slug', 'symbol', 'name', 'date', 'ranknow', 'open', 'high', 'low',
       'close', 'volume', 'market', 'close_ratio', 'spread'],
      dtype='object')

In [38]:
df_cr.shape

(942297, 13)

In [39]:
df_cr.head(5)

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [40]:
df_cr.tail()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
942292,project-x,NANOX,Project-X,2018-11-26,1727,22424.60,23049.30,17607.50,20724.80,143.0,1622.0,0.5728,5441.80
942293,project-x,NANOX,Project-X,2018-11-27,1727,20711.90,23742.10,19292.90,23298.70,637.0,1823.0,0.9003,4449.20
942294,project-x,NANOX,Project-X,2018-11-28,1727,23320.90,25235.10,19888.10,24442.70,49.0,1913.0,0.8518,5347.00
942295,project-x,NANOX,Project-X,2018-11-29,1727,24543.53,24582.47,21457.95,22839.44,153.0,1788.0,0.4421,3124.52
942296,project-x,NANOX,Project-X,2018-11-30,1727,22872.09,23086.98,19040.91,21136.72,125.0,1654.0,0.5180,4046.07

## Original Data backup

In [41]:
df_cr_b1 = df_cr.copy 
"""Original data backup"""

'Original data backup'

## Data Cleaning

In [42]:
df_cr.isnull().sum() #No Null Data available in the dataframe

slug           0
symbol         0
name           0
date           0
ranknow        0
open           0
high           0
low            0
close          0
volume         0
market         0
close_ratio    0
spread         0
dtype: int64

In [43]:
df_cr.dtypes

slug            object
symbol          object
name            object
date            object
ranknow          int64
open           float64
high           float64
low            float64
close          float64
volume         float64
market         float64
close_ratio    float64
spread         float64
dtype: object

In [44]:
#Replacing special charecter for string data
colums = ['slug', 'symbol', 'name']
for col in df_cr[colums]:
    df_cr[col] = df_cr[col].str.replace(r'\W', "")
print(df_cr)

/tmp/ipykernel_2034/1301157957.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_cr[col] = df_cr[col].str.replace(r'\W', "")

            slug symbol      name        date  ranknow      open      high  \
0        bitcoin    BTC   Bitcoin  2013-04-28        1    135.30    135.98
1        bitcoin    BTC   Bitcoin  2013-04-29        1    134.44    147.49
2        bitcoin    BTC   Bitcoin  2013-04-30        1    144.00    146.93
3        bitcoin    BTC   Bitcoin  2013-05-01        1    139.00    139.89
4        bitcoin    BTC   Bitcoin  2013-05-02        1    116.38    125.60
...          ...    ...       ...         ...      ...       ...       ...
942292  projectx  NANOX  ProjectX  2018-11-26     1727  22424.60  23049.30
942293  projectx  NANOX  ProjectX  2018-11-27     1727  20711.90  23742.10
942294  projectx  NANOX  ProjectX  2018-11-28     1727  23320.90  25235.10
942295  projectx  NANOX  ProjectX  2018-11-29     1727  24543.53  24582.47
942296  projectx  NANOX  ProjectX  2018-11-30     1727  22872.09  23086.98

             low     close  volume        market  close_ratio   spread
0         132.10    134.21     0.0  1.488567e+09       0.5438     3.88
1         134.00    144.54     0.0  1.603769e+09       0.7813    13.49
2         134.05    139.00     0.0  1.542813e+09       0.3843    12.88
3         107.72    116.99     0.0  1.298955e+09       0.2882    32.17
4          92.28    105.21     0.0  1.168517e+09       0.3881    33.32
...          ...       ...     ...           ...          ...      ...
942292  17607.50  20724.80   143.0  1.622000e+03       0.5728  5441.80
942293  19292.90  23298.70   637.0  1.823000e+03       0.9003  4449.20
942294  19888.10  24442.70    49.0  1.913000e+03       0.8518  5347.00
942295  21457.95  22839.44   153.0  1.788000e+03       0.4421  3124.52
942296  19040.91  21136.72   125.0  1.654000e+03       0.5180  4046.07

[942297 rows x 13 columns]

In [45]:
print(df_cr['name'].str.replace(r'\W', ""))

/tmp/ipykernel_2034/839700863.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  print(df_cr['name'].str.replace(r'\W', ""))

0          Bitcoin
1          Bitcoin
2          Bitcoin
3          Bitcoin
4          Bitcoin
            ...
942292    ProjectX
942293    ProjectX
942294    ProjectX
942295    ProjectX
942296    ProjectX
Name: name, Length: 942297, dtype: object

## Data Filtering

In [46]:
df_cr

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
942292,projectx,NANOX,ProjectX,2018-11-26,1727,22424.60,23049.30,17607.50,20724.80,143.0,1.622000e+03,0.5728,5441.80
942293,projectx,NANOX,ProjectX,2018-11-27,1727,20711.90,23742.10,19292.90,23298.70,637.0,1.823000e+03,0.9003,4449.20
942294,projectx,NANOX,ProjectX,2018-11-28,1727,23320.90,25235.10,19888.10,24442.70,49.0,1.913000e+03,0.8518,5347.00
942295,projectx,NANOX,ProjectX,2018-11-29,1727,24543.53,24582.47,21457.95,22839.44,153.0,1.788000e+03,0.4421,3124.52
942296,projectx,NANOX,ProjectX,2018-11-30,1727,22872.09,23086.98,19040.91,21136.72,125.0,1.654000e+03,0.5180,4046.07

In [54]:
#df_name = df_cr[['slug', 'name']]
#df_name_slug_incon = df_name[df_name['slug'].str.upper() != df_name['name'].str.upper()]
#print(df_name_slug_incon)
#df_sort_symbol_rank  = df_cr.sort_values(by=['name'], ascending=False)
#df_sort_symbol_rank

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
938176,wystoken,WYS,wysToken,2018-11-03,2058,0.009992,0.009992,0.008992,0.008992,32.0,0.0,0.0000,0.00
938123,wystoken,WYS,wysToken,2018-09-09,2058,0.011886,0.012499,0.011309,0.012195,613.0,0.0,0.7445,0.00
938109,wystoken,WYS,wysToken,2018-08-26,2058,0.034929,0.034929,0.024382,0.034259,364.0,0.0,0.9365,0.01
938110,wystoken,WYS,wysToken,2018-08-27,2058,0.034320,0.035391,0.026308,0.026308,477.0,0.0,0.0000,0.01
938111,wystoken,WYS,wysToken,2018-08-28,2058,0.026415,0.036994,0.026168,0.036874,1175.0,0.0,0.9889,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224619,0chain,ZCN,0chain,2018-09-06,441,0.121846,0.122941,0.112596,0.119264,9887.0,4770560.0,0.6446,0.01
224620,0chain,ZCN,0chain,2018-09-07,441,0.119410,0.122868,0.103688,0.104481,10036.0,4179240.0,0.0413,0.02
224621,0chain,ZCN,0chain,2018-09-08,441,0.104480,0.110192,0.095192,0.098447,11060.0,3937864.0,0.2170,0.02
224622,0chain,ZCN,0chain,2018-09-09,441,0.098064,0.110399,0.094813,0.104816,11182.0,4192640.0,0.6418,0.02
224654,0chain,ZCN,0chain,2018-10-11,441,0.210468,0.211631,0.171703,0.171758,168693.0,6870320.0,0.0014,0.04

### Finding Crypto coin insight las per the rank

- Median
- Standard deviation

In [59]:
df_rank_name = df_cr.groupby(by = ['ranknow', 'name'])

In [62]:
df_rank_name.median().head(10)

,,open,high,low,close,volume,market,close_ratio,spread
ranknow,name,,,,,,,,
1,Bitcoin,598.015000,607.365000,587.275000,598.140000,58145800.0,8.154787e+09,0.55925,19.48
2,XRP,0.008563,0.008785,0.008269,0.008566,872679.5,2.569237e+08,0.44065,0.00
3,Ethereum,46.870000,48.820000,44.540000,47.570000,97745296.0,4.315879e+09,0.51620,2.69
4,Stellar,0.002906,0.003089,0.002765,0.002916,99656.0,1.509909e+07,0.47675,0.00
5,BitcoinCash,714.700000,752.910000,688.630000,713.770000,455224992.0,1.225319e+10,0.43340,65.30
6,EOS,5.680000,5.830000,5.410000,5.680000,518188992.0,4.852616e+09,0.50000,0.45
7,Litecoin,4.165000,4.340000,4.055000,4.160000,3635380.0,1.908854e+08,0.50000,0.26
8,Tether,1.000000,1.000000,0.999999,1.000000,2629330.0,1.495174e+07,0.00000,0.00
9,BitcoinSV,90.620000,107.710000,76.790000,93.700000,97310700.0,0.000000e+00,0.44440,34.22
10,Cardano,0.143086,0.150373,0.137180,0.143297,79062000.0,3.715271e+09,0.49970,0.01

In [63]:
df_rank_name.std().head(10)

,,open,high,low,close,volume,market,close_ratio,spread
ranknow,name,,,,,,,,
1,Bitcoin,3438.652272,3563.970934,3285.670083,3438.366702,3.042556e+09,5.853611e+10,0.299901,355.994292
2,XRP,0.342824,0.371379,0.315382,0.342883,6.871462e+08,1.338765e+10,0.336523,0.072115
3,Ethereum,278.241089,290.401311,263.766149,278.055698,1.246118e+09,2.724031e+10,0.298706,34.732545
4,Stellar,0.132908,0.141523,0.123204,0.132894,8.493600e+07,2.457425e+09,0.292667,0.024374
5,BitcoinCash,615.017869,669.184295,557.921405,615.040826,9.756162e+08,1.051983e+10,0.305668,161.592449
6,EOS,4.419948,4.681473,4.120952,4.412222,6.500887e+08,3.736664e+09,0.305689,0.844090
7,Litecoin,54.247728,57.142433,50.988352,54.211041,3.523798e+08,3.027920e+09,0.298830,8.123746
8,Tether,0.020314,0.023417,0.021220,0.019722,1.300954e+09,9.866642e+08,0.337761,0.017355
9,BitcoinSV,40.592575,48.891156,29.771162,40.782351,1.497439e+08,7.049169e+08,0.305949,28.555686
10,Cardano,0.198557,0.215939,0.177565,0.197889,2.273511e+08,5.132247e+09,0.300257,0.049989

In [64]:
df_rank_date = df_cr.groupby(by = ['ranknow', 'date'])

In [67]:
df_rank_date.median()

                         open       high        low      close  volume  \
ranknow date
1       2013-04-28  135.30000  135.98000  132.10000  134.21000     0.0
        2013-04-29  134.44000  147.49000  134.00000  144.54000     0.0
        2013-04-30  144.00000  146.93000  134.05000  139.00000     0.0
        2013-05-01  139.00000  139.89000  107.72000  116.99000     0.0
        2013-05-02  116.38000  125.60000   92.28000  105.21000     0.0
...                       ...        ...        ...        ...     ...
2072    2018-11-25    0.00024    0.00024    0.00024    0.00024     0.0
        2018-11-26    0.00024    0.00024    0.00024    0.00024     0.0
        2018-11-27    0.00024    0.00024    0.00024    0.00024     0.0
        2018-11-28    0.00024    0.00024    0.00024    0.00024     0.0
        2018-11-29    0.00024    0.00024    0.00024    0.00024     0.0

                          market  close_ratio  spread
ranknow date
1       2013-04-28  1.488567e+09       0.5438    3.88
        2013-04-29  1.603769e+09       0.7813   13.49
        2013-04-30  1.542813e+09       0.3843   12.88
        2013-05-01  1.298955e+09       0.2882   32.17
        2013-05-02  1.168517e+09       0.3881   33.32
...                          ...          ...     ...
2072    2018-11-25  0.000000e+00       0.0000    0.00
        2018-11-26  0.000000e+00       0.0000    0.00
        2018-11-27  0.000000e+00       0.0000    0.00
        2018-11-28  0.000000e+00       0.0000    0.00
        2018-11-29  0.000000e+00       0.0000    0.00

[941138 rows x 8 columns]

In [73]:
df_date_year  = df_cr.copy()
df_date_year['date_year'] = df_cr.date.str.slice(0,4).astype(int)

In [75]:
df_date_year

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread,date_year
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88,2013
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49,2013
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88,2013
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17,2013
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942292,projectx,NANOX,ProjectX,2018-11-26,1727,22424.60,23049.30,17607.50,20724.80,143.0,1.622000e+03,0.5728,5441.80,2018
942293,projectx,NANOX,ProjectX,2018-11-27,1727,20711.90,23742.10,19292.90,23298.70,637.0,1.823000e+03,0.9003,4449.20,2018
942294,projectx,NANOX,ProjectX,2018-11-28,1727,23320.90,25235.10,19888.10,24442.70,49.0,1.913000e+03,0.8518,5347.00,2018
942295,projectx,NANOX,ProjectX,2018-11-29,1727,24543.53,24582.47,21457.95,22839.44,153.0,1.788000e+03,0.4421,3124.52,2018
942296,projectx,NANOX,ProjectX,2018-11-30,1727,22872.09,23086.98,19040.91,21136.72,125.0,1.654000e+03,0.5180,4046.07,2018