# Crypto Markets Data Analysis

Analyzing data of crypto markets data
- Data Cleaning
- Data Filtering
- Finding the insights of dataset
- Set Hypothesis based on the dataset
- Presenting the data as per the finding the answer of the hypothesis

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
df_cr = pd.read_csv("crypto-markets.csv")

In [4]:
df_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942297 entries, 0 to 942296
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   slug         942297 non-null  object
 1   symbol       942297 non-null  object
 2   name         942297 non-null  object
 3   date         942297 non-null  object
 4   ranknow      942297 non-null  int64
 5   open         942297 non-null  float64
 6   high         942297 non-null  float64
 7   low          942297 non-null  float64
 8   close        942297 non-null  float64
 9   volume       942297 non-null  float64
 10  market       942297 non-null  float64
 11  close_ratio  942297 non-null  float64
 12  spread       942297 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 93.5+ MB

In [5]:
df_cr.describe().T

,count,mean,std,min,25%,50%,75%,max
ranknow,942297.0,1.000171e+03,5.875753e+02,1.000000e+00,465.000000,1072.000000,1.484000e+03,2.072000e+03
open,942297.0,3.483522e+02,1.318436e+04,2.500000e-09,0.002321,0.023983,2.268600e-01,2.298390e+06
high,942297.0,4.085930e+02,1.616386e+04,3.200000e-09,0.002628,0.026802,2.508940e-01,2.926100e+06
low,942297.0,2.962526e+02,1.092931e+04,2.500000e-10,0.002044,0.021437,2.043910e-01,2.030590e+06
close,942297.0,3.461018e+02,1.309822e+04,2.000000e-10,0.002314,0.023892,2.259340e-01,2.300740e+06
volume,942297.0,8.720383e+06,1.839802e+08,0.000000e+00,175.000000,4278.000000,1.190900e+05,2.384090e+10
market,942297.0,1.725060e+08,3.575590e+09,0.000000e+00,29581.000000,522796.000000,6.874647e+06,3.265025e+11
close_ratio,942297.0,4.594995e-01,3.261605e-01,-1.000000e+00,0.162900,0.432400,7.458000e-01,1.000000e+00
spread,942297.0,1.123400e+02,6.783713e+03,0.000000e+00,0.000000,0.000000,3.000000e-02,1.770563e+06

In [6]:
df_cr.columns

Index(['slug', 'symbol', 'name', 'date', 'ranknow', 'open', 'high', 'low',
       'close', 'volume', 'market', 'close_ratio', 'spread'],
      dtype='object')

In [8]:
df_cr.shape

(942297, 13)

In [13]:
df_cr.head(5)

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [14]:
df_cr.tail()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
942292,project-x,NANOX,Project-X,2018-11-26,1727,22424.60,23049.30,17607.50,20724.80,143.0,1622.0,0.5728,5441.80
942293,project-x,NANOX,Project-X,2018-11-27,1727,20711.90,23742.10,19292.90,23298.70,637.0,1823.0,0.9003,4449.20
942294,project-x,NANOX,Project-X,2018-11-28,1727,23320.90,25235.10,19888.10,24442.70,49.0,1913.0,0.8518,5347.00
942295,project-x,NANOX,Project-X,2018-11-29,1727,24543.53,24582.47,21457.95,22839.44,153.0,1788.0,0.4421,3124.52
942296,project-x,NANOX,Project-X,2018-11-30,1727,22872.09,23086.98,19040.91,21136.72,125.0,1654.0,0.5180,4046.07

## Original Data backup

In [10]:
df_cr_b1 = df_cr.copy 
"""Original data backup"""

'Original data backup'

## Data Cleaning

In [15]:
df_cr.isnull().sum() #No Null Data available in the dataframe

slug           0
symbol         0
name           0
date           0
ranknow        0
open           0
high           0
low            0
close          0
volume         0
market         0
close_ratio    0
spread         0
dtype: int64

In [11]:
df_cr.dtypes

slug            object
symbol          object
name            object
date            object
ranknow          int64
open           float64
high           float64
low            float64
close          float64
volume         float64
market         float64
close_ratio    float64
spread         float64
dtype: object

In [24]:
#Replacing special charecter for string data
colums = ['slug', 'symbol', 'name']
for col in df_cr[colums]:
    df_cr[col] = df_cr[col].str.replace(r'\W', "")
print(df_cr)

/tmp/ipykernel_12084/1301157957.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_cr[col] = df_cr[col].str.replace(r'\W', "")

            slug symbol      name        date  ranknow      open      high  \
0        bitcoin    BTC   Bitcoin  2013-04-28        1    135.30    135.98
1        bitcoin    BTC   Bitcoin  2013-04-29        1    134.44    147.49
2        bitcoin    BTC   Bitcoin  2013-04-30        1    144.00    146.93
3        bitcoin    BTC   Bitcoin  2013-05-01        1    139.00    139.89
4        bitcoin    BTC   Bitcoin  2013-05-02        1    116.38    125.60
...          ...    ...       ...         ...      ...       ...       ...
942292  projectx  NANOX  ProjectX  2018-11-26     1727  22424.60  23049.30
942293  projectx  NANOX  ProjectX  2018-11-27     1727  20711.90  23742.10
942294  projectx  NANOX  ProjectX  2018-11-28     1727  23320.90  25235.10
942295  projectx  NANOX  ProjectX  2018-11-29     1727  24543.53  24582.47
942296  projectx  NANOX  ProjectX  2018-11-30     1727  22872.09  23086.98

             low     close  volume        market  close_ratio   spread
0         132.10    134.21     0.0  1.488567e+09       0.5438     3.88
1         134.00    144.54     0.0  1.603769e+09       0.7813    13.49
2         134.05    139.00     0.0  1.542813e+09       0.3843    12.88
3         107.72    116.99     0.0  1.298955e+09       0.2882    32.17
4          92.28    105.21     0.0  1.168517e+09       0.3881    33.32
...          ...       ...     ...           ...          ...      ...
942292  17607.50  20724.80   143.0  1.622000e+03       0.5728  5441.80
942293  19292.90  23298.70   637.0  1.823000e+03       0.9003  4449.20
942294  19888.10  24442.70    49.0  1.913000e+03       0.8518  5347.00
942295  21457.95  22839.44   153.0  1.788000e+03       0.4421  3124.52
942296  19040.91  21136.72   125.0  1.654000e+03       0.5180  4046.07

[942297 rows x 13 columns]

In [22]:
print(df_cr['name'].str.replace(r'\W', ""))

/tmp/ipykernel_12084/839700863.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  print(df_cr['name'].str.replace(r'\W', ""))

0          Bitcoin
1          Bitcoin
2          Bitcoin
3          Bitcoin
4          Bitcoin
            ...
942292    ProjectX
942293    ProjectX
942294    ProjectX
942295    ProjectX
942296    ProjectX
Name: name, Length: 942297, dtype: object

## Data Filtering